<div class="page-title">
  Управление модераторами
</div>
<div class="flex-between align-center buttons-wrapper">
  <div class="flex">
    <div class="btn btn-green top-btn" (click)="addUser()">
      <md-icon md-list-icon >add_circle_outline</md-icon>
      <div>Добавить модератора</div>
    </div>
    <div class="layer"></div>
    <div class="btn btn-green top-btn" (click)="addGroup()">
      <md-icon md-list-icon >add_circle_outline</md-icon>
      <div>Добавить группу</div>
    </div>
  </div>
  <div class="layer"></div>
  <div class="btn btn-blue top-btn" (click)="changePass()">
    <md-icon md-list-icon >vpn_key</md-icon>
    <div>Изменить пароль</div>
  </div>
</div>
<div class="layer"></div>
<md-card>
  <table>
    <thead>
      <tr>
        <td>Логин</td>
        <td>Имя</td>
        <td>Email</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ывывыв</td>
        <td>ывывыв</td>
        <td>ывывы</td>
        <td>
          <div class="flex-center" >
            <div class="btn-blue chip"  mdTooltip="Редактировать">
              <md-icon md-list-icon >edit</md-icon>
            </div>
            <div class="btn-yellow chip"  mdTooltip="Копировать">
              <md-icon md-list-icon >content_copy</md-icon>
            </div>
            <div class="btn-red chip" mdTooltip="Удалить">
              <md-icon md-list-icon >delete_forever</md-icon>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>ывывыв</td>
        <td>ывывыв</td>
        <td>ывывы</td>
        <td>
          <div class="flex-center" >
            <div class="btn-blue chip"  mdTooltip="Редактировать">
              <md-icon md-list-icon >edit</md-icon>
            </div>
            <div class="btn-yellow chip"  mdTooltip="Копировать">
              <md-icon md-list-icon >content_copy</md-icon>
            </div>
            <div class="btn-red chip" mdTooltip="Удалить">
              <md-icon md-list-icon >delete_forever</md-icon>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>ывывыв</td>
        <td>ывывыв</td>
        <td>ывывы</td>
        <td>
          <div class="flex-center" >
            <div class="btn-blue chip"  mdTooltip="Редактировать">
              <md-icon md-list-icon >edit</md-icon>
            </div>
            <div class="btn-yellow chip"  mdTooltip="Копировать">
              <md-icon md-list-icon >content_copy</md-icon>
            </div>
            <div class="btn-red chip" mdTooltip="Удалить">
              <md-icon md-list-icon >delete_forever</md-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</md-card>
