<div class="backoffice">
  <md-sidenav-container>
    <simple-notifications [options]="options"></simple-notifications>

    <md-sidenav #sidenav mode="side" opened="true">
      <div class="admin-block flex align-center">
        <md-icon>person</md-icon>
        <div class="admin-text">Admin</div>
      </div>
      <md-list-item routerLink="/dashboard" routerLinkActive="active" (click)="menuStrategy()">
        <md-icon>pie_chart</md-icon>
        <a>Dashboard</a>
      </md-list-item>
      <md-list-item class="dropdown" (click)="settingsVisible = !settingsVisible" routerLinkActive="active">
        <div class="flex align-center">
          <md-icon>settings_applications</md-icon>
          <a>Настройки</a>
          <md-icon class="drop-arrow" *ngIf="!settingsVisible" >keyboard_arrow_down</md-icon>
          <md-icon class="drop-arrow" *ngIf="settingsVisible" >keyboard_arrow_up</md-icon>
        </div>
        <div [class.hidden]="!settingsVisible" class="submenu-wrapper">
          <div class="submenu-item" (click)="menuStrategy()">
            <a routerLink="/settings" routerLinkActive="active">Настройки системы</a>
          </div>
        </div>
      </md-list-item>
      <md-list-item (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <a>Выход</a>
      </md-list-item>
    </md-sidenav>
    <header>
      <md-card class="flex align-center">
        <a>
          <img src="cms/images/menu-icon.png"  (click)="sidenav.toggle()">
        </a>
        <a class="project-title" routerLink="/">
          CMS
        </a>
        <span class="exit" (click)="logout()">
          <md-icon>exit_to_app</md-icon>
        </span>
      </md-card>
    </header>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
