<div class="page-title">
  Настройки платежей
</div>
<md-card class="center-card">
  <form class="center-form" #settingsForm="ngForm" >
    <md-input-container>
      <input mdInput type="text" placeholder="Получатель"  name="receiver"  [(ngModel)]="settings.body.receiver">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="ИНН получателя"  name="inn"  [(ngModel)]="settings.body.inn">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="КПП получателя"  name="kpp"  [(ngModel)]="settings.body.kpp">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="Рассчетный счет"  name="account" [(ngModel)]="settings.body.account" >
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="Банк"  name="bank" [(ngModel)]="settings.body.bank">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="БИК банка"  name="bankBic" [(ngModel)]="settings.body.bankBic">
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" placeholder="Корреспондентский счет"  name="corAccount" [(ngModel)]="settings.body.corAccount">
    </md-input-container>

    <div class="layer"></div>
    <div class="flex-center">
      <button type="button" class="btn btn-green" name="save" (click)="saveSettings()">
        <md-icon md-list-icon >save</md-icon>
        <div>Сохранить</div>
      </button>
    </div>
  </form>
</md-card>
