<div class="page-title">
  Просмотр профиля
</div>
<div class="layer"></div>
<md-card>
  <div class="card-title">
    Личные данные
  </div>
  <div *ngIf="type === 'company'" class="flex">
    <div class="full-width">
      <div class="simple-list">
        <div class="list-row">
          <div class="list-title">
            Логин:
          </div>
          <div class="list-data">
            {{user?.login}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Тариф:
          </div>
          <div class="list-data">
            {{user?.tariff}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Баланс:
          </div>
          <div class="list-data">
            {{user?.balance}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            ФИО:
          </div>
          <div class="list-data">
            {{user?.surname}} {{user?.name}} {{user?.lastname}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Телефон:
          </div>
          <div class="list-data">
            {{user?.phone}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Email:
          </div>
          <div class="list-data">
            {{user?.email}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Город:
          </div>
          <div class="list-data">
            {{user?.city}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Фактическое название:
          </div>
          <div class="list-data">
            {{user?.actualName}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Фактический адрес:
          </div>
          <div class="list-data">
            {{user?.actualAddress}}
          </div>
        </div>
      </div>
    </div>
    <div class="full-width">
      <div class="simple-list">
        <div class="list-row">
          <div class="list-title">
            ИНН:
          </div>
          <div class="list-data">
            {{user?.requisites?.inn}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Юридическое название или ФИО ИП:
          </div>
          <div class="list-data">
            {{user?.requisites?.legalName}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Юридический адрес:
          </div>
          <div class="list-data">
            {{user?.requisites?.legalAddress}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            КПП:
          </div>
          <div class="list-data">
            {{user?.requisites?.kpp}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Расчетный счет:
          </div>
          <div class="list-data">
            {{user?.requisites?.paymentAccount}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            БИК:
          </div>
          <div class="list-data">
            {{user?.requisites?.bik}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Название банка:
          </div>
          <div class="list-data">
            {{user?.requisites?.bankName}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Корреспондентский счет:
          </div>
          <div class="list-data">
            {{user?.requisites?.correspondentAccount}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="type === 'person'">
    <div>
      <div class="simple-list">
        <div class="list-row">
          <div class="list-title">
            Логин:
          </div>
          <div class="list-data">
            dfdfdf
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Тариф:
          </div>
          <div class="list-data">
            dfdfdf
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Баланс:
          </div>
          <div class="list-data">
            dfdfdf
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            ФИО:
          </div>
          <div class="list-data">
            {{user?.surname}} {{user?.name}} {{user?.lastname}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Пол:
          </div>
          <div class="list-data">
            {{user?.sex}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Дата рождения:
          </div>
          <div class="list-data">
            {{user?.dob }}
          </div>
        </div>

        <div class="list-row">
          <div class="list-title">
            Телефон:
          </div>
          <div class="list-data">
            {{user?.phone}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Email:
          </div>
          <div class="list-data">
            {{user?.email}}
          </div>
        </div>
        <div class="list-row">
          <div class="list-title">
            Город:
          </div>
          <div class="list-data">
            {{user?.city}}
          </div>
        </div>
      </div>
    </div>
  </div>
</md-card>
<md-card >
  <div class="card-title" (click)="ordersVisible = !ordersVisible">
    <div class="flex-between">
      <div>
        Заказы
      </div>
      <div>
        <md-icon class="drop-arrow" *ngIf="!ordersVisible" >keyboard_arrow_down</md-icon>
        <md-icon class="drop-arrow" *ngIf="ordersVisible" >keyboard_arrow_up</md-icon>
      </div>
    </div>
  </div>
  <div [class.hidden]="!ordersVisible">
    <div class="flex-center">
      <md-input-container >
        <input mdInput type="text" placeholder="Поиск по названию магазина"  name="searchShop">
      </md-input-container>
      <div class="layer"></div>
      <div>
        <md-input-container>
          <input mdInput [mdDatepicker]="pickerOrderFrom" placeholder="с">
          <button mdSuffix [mdDatepickerToggle]="pickerOrderFrom"></button>
        </md-input-container>
        <md-datepicker #pickerOrderFrom></md-datepicker>
      </div>
      <div class="layer"></div>
      <div>
        <md-input-container>
          <input mdInput [mdDatepicker]="pickerOrderTo" placeholder="по">
          <button mdSuffix [mdDatepickerToggle]="pickerOrderTo"></button>
        </md-input-container>
        <md-datepicker #pickerOrderTo></md-datepicker>
      </div>
    </div>
    <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="paymentType" name="type">
      <md-button-toggle value="center">
        Подтвержденные
      </md-button-toggle>
      <div class="layer"></div>
      <md-button-toggle value="left">
        Ожидающие
      </md-button-toggle>
      <div class="layer"></div>
      <md-button-toggle value="right">
        Отклоненные
      </md-button-toggle>
      <div class="layer"></div>
      <md-button-toggle value="up">
        ВКонтакте
      </md-button-toggle>
      <div class="layer"></div>
      <md-button-toggle value="up">
        Facebook
      </md-button-toggle>
      <div class="layer"></div>
      <md-button-toggle value="up">
        Ссылка
      </md-button-toggle>
    </md-button-toggle-group>
    <table>
      <thead>
        <tr>
          <td>№</td>
          <td>Дата</td>
          <td>Магазин</td>
          <td>Способ</td>
          <td>Цель</td>
          <td>Сумма</td>
          <td>Пользователь</td>
          <td>Выплата пользователю</td>
          <td>Источник</td>
          <td>Статус</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ывывыв</td>
          <td>ывывыв</td>
          <td>ывывыв</td>
          <td>ывывы</td>
          <td>ывывы</td>
          <td>ывывы</td>
          <td>ывывы</td>
          <td>ывывыв</td>
          <td>ывывыв</td>
          <td>ывывыв</td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>
<md-card>
  <div class="card-title" (click)="financeVisible = !financeVisible">
    <div class="flex-between">
      <div>
        История начислений и платежей
      </div>
      <div>
        <md-icon class="drop-arrow" *ngIf="!financeVisible" >keyboard_arrow_down</md-icon>
        <md-icon class="drop-arrow" *ngIf="financeVisible" >keyboard_arrow_up</md-icon>
      </div>
    </div>
  </div>
  <div [class.hidden]="!financeVisible">
    <div class="flex-center">
      <md-input-container >
        <input mdInput type="text" placeholder="Поиск по номеру"  name="searchFinance">
      </md-input-container>
      <div class="layer"></div>
      <div>
        <md-input-container>
          <input mdInput [mdDatepicker]="pickerFinanceFrom" placeholder="с">
          <button mdSuffix [mdDatepickerToggle]="pickerFinanceFrom"></button>
        </md-input-container>
        <md-datepicker #pickerFinanceFrom></md-datepicker>
      </div>
      <div class="layer"></div>
      <div>
        <md-input-container>
          <input mdInput [mdDatepicker]="pickerFinanceTo" placeholder="по">
          <button mdSuffix [mdDatepickerToggle]="pickerFinanceTo"></button>
        </md-input-container>
        <md-datepicker #pickerFinanceTo></md-datepicker>
      </div>
    </div>
    <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="paymentType" name="type">
      <md-button-toggle value="center">
        Начисления
      </md-button-toggle>
      <div class="layer"></div>
      <md-button-toggle value="center">
        Платежи
      </md-button-toggle>
    </md-button-toggle-group>
    <table>
      <thead>
        <tr>
          <td>№</td>
          <td>Дата</td>
          <td>Сумма</td>
          <td>Пользователь</td>
          <td>Описание</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ывывыв</td>
          <td>ывывыв</td>
          <td>ывывыв</td>
          <td>ывывы</td>
          <td>ывывы</td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>
<md-card>
  <div class="card-title" (click)="refVisible = !refVisible">
    <div class="flex-between">
      <div>
        Реферальная сеть
      </div>
      <div>
        <md-icon class="drop-arrow" *ngIf="!refVisible" >keyboard_arrow_down</md-icon>
        <md-icon class="drop-arrow" *ngIf="refVisible" >keyboard_arrow_up</md-icon>
      </div>
    </div>
  </div>
  <div [class.hidden]="!refVisible">
    <div class="flex-center">
      <md-input-container>
        <input mdInput type="text" placeholder="Поиск по ФИО, email, телефон"  name="searchRef">
      </md-input-container>
    </div>
    <table>
      <thead>
        <tr>
          <td>Логин</td>
          <td>ФИО</td>
          <td>Email</td>
          <td>Телефон</td>
          <td>Город</td>
          <td>Оборот сети</td>
          <td>Квалификация</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ывывыв</td>
          <td>ывывыв</td>
          <td>ывывыв</td>
          <td>ывывы</td>
          <td>ывывы</td>
          <td>ывывы</td>
          <td>ывывы</td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>
