<div class="page-title">
  Статистика продаж
</div>

<div class="layer"></div>
<md-card>
  <div class="flex-center">
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerFrom" placeholder="с">
        <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
      </md-input-container>
      <md-datepicker #pickerFrom></md-datepicker>
    </div>
    <div class="layer"></div>
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerTo" placeholder="по">
        <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
      </md-input-container>
      <md-datepicker #pickerTo></md-datepicker>
    </div>
  </div>
  <div class="simple-list">
    <div class="list-row">
      <div class="list-title bold">
        Всего покупок:
      </div>
      <div class="list-data">
        dfdfdf
      </div>
    </div>
    <div class="list-row">
      <div class="list-title bold">
        Начисления:
      </div>
      <div class="list-data">
        dfdfdf
      </div>
    </div>
    <div class="list-row">
      <div class="list-title bold">
        Сумма балансов:
      </div>
      <div class="list-data">
        dfdfdf
      </div>
    </div>
  </div>
</md-card>
