<form #addNewGroupForm="ngForm">
  <div class="modalContent">
    <div class="form-title">
      Добавление группы
    </div>
    <md-input-container >
      <input mdInput type="text" placeholder="Имя"  name="name">
    </md-input-container>
    <table>
      <thead>
        <tr>
          <td>Модуль</td>
          <td>Нет доступа</td>
          <td>Только просмотр</td>
          <td>Просмотр и добавление</td>
          <td>Полный доступ</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Все</td>
          <td>
            <div class="flex-center">
              <md-radio-button  [value]="'none'" name="a" ngDefaultControl></md-radio-button>
            </div>
          </td>
          <td>
            <div class="flex-center">
              <md-radio-button  [value]="'view'" name="a" ngDefaultControl></md-radio-button>
            </div>
          </td>
          <td>
            <div class="flex-center">
              <md-radio-button  [value]="'add'" name="a" ngDefaultControl></md-radio-button>
            </div>
          </td>
          <td>
            <div class="flex-center">
              <md-radio-button  [value]="'all'" name="a" ngDefaultControl ></md-radio-button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="flex-center">
      <button type="submit" class="btn btn-green" name="save">
        <md-icon md-list-icon >save</md-icon>
        <div>Добавить</div>
      </button>
      <button type="button" class="btn btn-grey"  name="cancel" (click)="close()">
        <md-icon md-list-icon >cancel</md-icon>
        <div>Отмена</div>
      </button>
    </div>
  </div>
</form>
