doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='', content='text/html; charset=utf-8')
    title Приглашение на сайт Sarafan.online
    style(type='text/css').
      div{
        box-sizing: border-box;
      }

  body(yahoo='', bgcolor='#fff', style='margin: 0; margin-bottom: 20px; min-width: 100%!important; font-weight: 400; background: #fafafa; padding: 3%; font-size: 15px; color: #313436')
    .header(style="box-sizing: border-box;")
      a(href='http://sarafan.online', style='margin-bottom: 30px; display: block; cursor: pointer; float: left', target='_blank')
        img(src='http://sarafan.online/images/logo.png' style="max-width: 90%")
      div(style="float: right")
        table(align='center', cellpadding='0', cellspacing='0', border='0')
          tr
            td(style="vertical-align: top; color: #313436 !important;")
              span.small(style="margin-top: -5px")
                | 8 (800)
            td
              span.big(style="font-size: 26px; font-weight: 500;")
                | 333-64-06
        a(href="http://sarafan.online" style="display: block;font-size: 15px; color: #fff!important;text-decoration: none!important;padding-top: 2px;padding-right: 5px;padding-bottom: 2px;background-color: #4bb000;text-align: right;font-weight: lighter;margin-top: 17px; cursor: pointer; ") sarafan.onlinе
    table(align='center', cellpadding='0', cellspacing='0', border='0', bgcolor='#fff', style='width: 100%; max-width: 800px; padding: 3%; line-height: 1.5; border-radius: 5px; margin-top: 100px')
      tr
        td
          div(style='margin-bottom: 20px; font-weight: 700; font-size: 17px') Здравствуйте!
      tr
        td
          div(style='margin-bottom: 20px')
            | Вы получили это письмо, потому что пользователь 
            span
              a(href='http://sarafan.online', style='cursor: pointer; color: #4aaf00;', target='_blank') Sarafan.online
            |  отправил Вам приглашение с нашего сайта.
      tr
        td
          a(href='https://www.youtube.com/watch?v=eWxjUZDTNc4')
            img(src='http://sarafan.online/images/sarafan-videopreview.png', style='max-width: 100%; height: auto', alt='Видео о Sarafan.online')
      tr
        td
          table(align='center', cellpadding='0', cellspacing='0', border='0' style="width: 100%;line-height: 0.8;margin-top:  3%; letter-spacing: 0.3px;")
            tr(style="background-image: url('http://sarafan.online/images/emal-line-bg.png'); background-position: center; background-repeat: repeat")
              td(style="text-align: center; width: 33%; padding-left: 5px; padding-right: 5px; vertical-align: top;")
                div(style="font-size: 45px; font-weight: bold;") х2
                div(style="font-size: 15px; line-height: 1;  margin-top: 5px")
                  div удвоим  
                  div клиентскую базу
              td(style="text-align: center; width: 33%; border-right: 1px solid #d7d7d7; border-left: 1px solid #d7d7d7; padding-left: 5px; padding-right: 5px; vertical-align: top;")
                div(style="font-size: 45px; font-weight: bold;") 15
                div(style="font-size: 15px; line-height: 1;  margin-top: 5px")
                  div минут  
                  div на подключение к сайту
              td(style="text-align: center; width: 33%; padding-left: 5px; padding-right: 5px; vertical-align: top;")
                div(style="font-size: 45px; font-weight: bold;") ₽
                div(style="font-size: 15px; line-height: 1; margin-top: 5px")
                  div оплата  
                  div за выполненные заказы
      tr
        td 
          div(style="margin-left: auto; margin-right: auto; margin-top: 8%; text-align: center; line-height: 1.3; padding-left: 5%; padding-right: 5%; font-weight: bold; font-size: 15.5px")
            a(href='http://sarafan.online', style='display: inline-block; cursor: pointer; color: #4aaf00;', target='_blank') Sarafan.online
            | &nbsp;встроится в Ваш сайт и автоматизирует все действия по привлечению новых клиентов, засчет рекомендаций лояльных к Вашему бизнесу пользователей.
      tr
        td
          div(style="font-size: 28px; font-weight: bold; margin-top : 18px") Как это работает?
          div
            ol 
              li(style="margin-bottom: 20px") Предложите вашим лояльным клиентам рекомендовать ваши товары или услуги знакомым, например, после оформления заказа на сайте.
              li Получайте уведомления о совершенных заказах и вознаграждайте клиентов за покупки по их рекомендациям, а 
                a(href='http://sarafan.online', style='display: inline-block; cursor: pointer; color: #4aaf00;', target='_blank') Sarafan.online
                | &nbsp;позаботится о простоте этого процесса.
      tr
        td
          div(style="font-size: 28px; font-weight: bold; margin-top : 18px") Что дает 
            a(href="http://sarafan.online" style="text-decoration: none!important; cursor: pointer; color: #4aaf00") Sarafan.online?
          div
            table(align='center', cellpadding='0', cellspacing='0', border='0' style="width: 100%;line-height: 0.8; margin-top:  3%; letter-spacing: 0.3px;")
              tr
                td(style="padding-bottom: 21px; padding-left: 5px")
                  img(src='http://creosoft.pw/img/email-diagram.png' style="max-width: 46px")
                td(style="padding-bottom: 21px;")
                  div(style="padding-left: 15px; max-width: 90%; line-height: 1.2;") Увеличивает клиентскую базу
                td(style="padding-bottom: 21px; padding-left: 5px")
                  img(src='http://creosoft.pw/img/email-bag.png' style="max-width: 46px")
                td(style="padding-bottom: 21px;")
                  div(style="padding-left: 15px; max-width: 90%; line-height: 1.2;") Новые заказы с оплатой после их выполнения
              tr
                td(style="padding-bottom: 21px; padding-left: 5px")
                  img(src='http://creosoft.pw/img/email-client.png' style="max-width: 46px")
                td(style="padding-bottom: 21px;")
                  div(style="padding-left: 15px; max-width: 90%; line-height: 1.2;") Повышает лояльность клиентов
                td(style="padding-bottom: 21px; padding-left: 5px")
                  img(src='http://creosoft.pw/img/email-search.png' style="max-width: 46px")
                td(style="padding-bottom: 21px;")
                  div(style="padding-left: 15px; max-width: 90%; line-height: 1.2;") Снижает стоимость привлечения клиентов
              tr
                td(colspan="4")
                  div(style="margin-left: auto; margin-right: auto; text-align: center;")
                    span
                      img(src='http://creosoft.pw/img/email-stars.png' style="max-width: 46px")
                    span(style="padding-left: 10px; line-height: 1.2;") Повышает узнаваемость бренда
    div(style="background-color: #4bb000; color: white; text-align: center; max-width: 800px; margin-left: auto; margin-right: auto; padding: 2.2% 5%;letter-spacing: 0.4px; line-height: 1.3;")
      div
        | Мы все завалены акциями и спецпредложениями, но по-настоящему доверяем прежде всего рекомендациям своих знакомых.
      div(style="margin-top: 20px;")
        | Sarafan.Online позволяет подключить всю мощь дружеских рекомендаций!
      div(style="font-weight: bold; font-size: 18px; margin-top: 20px")
        | Попробуйте бесплатно сейчас: 
        a(href='http://sarafan.online', style='display: inline-block; cursor: pointer; color: white !important; text-decoration: none !important', target='_blank') sarafan.online