<div class="page-title">
  Пользователи
</div>
<div class="layer"></div>
<md-card>
  <div class="flex-center">
    <md-input-container>
      <input mdInput type="text" placeholder="Поиск по пользователям" name="search" [(ngModel)]="query.$or" (ngModelChange)="getUsersList()">
    </md-input-container>
    <div class="layer"></div>
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerFrom" placeholder="с" [(ngModel)]="query.registryDate.$gte" (ngModelChange)="getUsersList()">
        <button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
      </md-input-container>
      <md-datepicker #pickerFrom></md-datepicker>
    </div>
    <div class="layer"></div>
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="pickerTo" placeholder="по" [(ngModel)]="query.registryDate.$lte" (ngModelChange)="getUsersList()">
        <button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
      </md-input-container>
      <md-datepicker #pickerTo></md-datepicker>
    </div>
  </div>
  <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="query.isBuisnessOwner" name="type" (ngModelChange)="getUsersList()">
    <md-button-toggle value="false">
      Персональные
    </md-button-toggle>
    <div class="layer"></div>
    <md-button-toggle value="true">
      Компании
    </md-button-toggle>
  </md-button-toggle-group>
  <table>
    <thead>
      <tr>
        <td></td>
        <td>Логин</td>
        <td>Имя</td>
        <td>Email</td>
        <td>Телефон</td>
        <td>Баланс</td>
        <td>Оборот</td>
        <td>Дата регистрации</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><img [src]="user?.photo?.small?.url"/></td>
        <td>{{user.login}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.balance}}</td>
        <td>0</td>
        <td>{{user.registryDate | date: 'dd.MM.yyyy'}}</td>
        <td>
          <div class="flex-center">
            <div class="btn-blue chip" (click)="viewUser(user._id)" mdTooltip="Смотреть">
              <md-icon md-list-icon >info</md-icon>
            </div>
            <div *ngIf="!user.isBanned" class="btn-red chip" (click)="changeBanStatus(user)" mdTooltip="Забанить">
              <md-icon md-list-icon >lock</md-icon>
            </div>
            <div *ngIf="user.isBanned" class="btn-green chip" (click)="changeBanStatus(user)" mdTooltip="Разбанить">
              <md-icon md-list-icon >lock_open</md-icon>
            </div>
            <div class="btn-red chip" (click)="removeUser(user._id)" mdTooltip="Удалить">
              <md-icon md-list-icon >delete_forever</md-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</md-card>
