<div class="modal">
  <div class="reg-modal">
    <div class="modal-title">
      Новый тарифф
    </div>
    <form #registerForm="ngForm">
      <div class="modalContent">

        <md-input-container dividerColor="accent">
          <input mdInput required placeholder="Название" [(ngModel)]="item.name" name="name">
        </md-input-container>

        <md-input-container dividerColor="accent">
          <textarea mdInput required placeholder="Описание" [(ngModel)]="item.description" name="description"></textarea>
        </md-input-container>

        <md-input-container dividerColor="accent">
          <input mdInput required type="number" placeholder="Цена" [(ngModel)]="item.price" name="url">
        </md-input-container>

      </div>

      <button class="btn btn-green" md-raised-button type="submit" color="accent" name="save" (click)="addNewTariff()">Добавить</button>
    </form>
  </div>
</div>
