<div class="flex-center flex-wrap">
  <md-card class="chip-card">
    <div class="chip-title">
      Юзеров сегодня
    </div>
    <div class="flex-between align-center">
      <div class="big-num">
        {{users.today}}
      </div>
      <div class="arrow">
        <md-icon *ngIf="users.today > users.yesterday" class="up-icon">arrow_upward</md-icon>
        <md-icon *ngIf="users.today < users.yesterday" class="down-icon">arrow_downward</md-icon>
      </div>
      <md-icon class="bg-icon">accessibility</md-icon>
    </div>
    <div class="ps-info">
      <span class="ps-title">
        Вчера.:
      </span>
      <span>
        {{users.yesterday}}
      </span>
    </div>
  </md-card>
  <div class="layer"></div>
  <md-card class="chip-card">
    <div class="chip-title">
      Юзеров за месяц
    </div>
    <div class="flex-between align-center">
      <div class="big-num">
        {{users.currMonth}}
      </div>
      <div class="arrow">
        <md-icon *ngIf="users.currMonth > users.prevMonth" class="up-icon">arrow_upward</md-icon>
        <md-icon *ngIf="users.currMonth < users.prevMonth" class="down-icon">arrow_downward</md-icon>
      </div>
      <md-icon class="bg-icon">recent_actors</md-icon>
    </div>
    <div class="ps-info">
      <span class="ps-title">
        Пред.:
      </span>
      <span>
        {{users.prevMonth}}
      </span>
    </div>
  </md-card>
  <div class="layer"></div>
  <md-card class="chip-card">
    <div class="chip-title">
      Всего юзеров
    </div>
    <div class="flex-between align-center">
      <div class="big-num">
        {{users.all}}
      </div>
      <md-icon class="bg-icon">supervisor_account</md-icon>
    </div>
  </md-card>
  <div class="layer"></div>
  <md-card class="chip-card">
    <div class="chip-title">
      Общий оборот
    </div>
    <div class="flex-between align-center">
      <div class="big-num">
        500 000
      </div>
      <div class="arrow">
        <md-icon class="up-icon">arrow_upward</md-icon>
        <!-- <md-icon class="down-icon">arrow_downward</md-icon> -->
      </div>
      <md-icon class="bg-icon">attach_money</md-icon>
    </div>
    <div class="ps-info">
      <span class="ps-title">
        Пред.:
      </span>
      <span>
        100 000
      </span>
    </div>
  </md-card>
</div>
<div class="flex-center flex-wrap charts-wrapper">
  <md-card class="chart-wrapper chart-wrapper-300">
    <div class="table-title">
      Соотношения покупатель/магазин
    </div>
    <div>
      <canvas baseChart
                  [data]="userTypeChartData"
                  [labels]="userTypeChartLabels"
                  [chartType]="userTypeChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>
  </md-card>
  <div class="layer"></div>
  <md-card class="chart-wrapper chart-wrapper-500">
    <div class="table-title">
      Статистика по месяцам
    </div>
    <div>
      <canvas baseChart
            [datasets]="monthChartData"
            [labels]="monthChartLabels"
            [options]="monthChartOptions"
            [legend]="monthChartLegend"
            [chartType]="monthChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    </div>
  </md-card>
  <div class="layer"></div>
  <md-card class="chart-wrapper chart-wrapper-300">
    <div class="table-title">
      Share в социальных сетях
    </div>
    <div>
      <canvas baseChart
                  [data]="shareChartData"
                  [labels]="shareChartLabels"
                  [chartType]="shareChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>
  </md-card>
</div>
<div class="flex tables-wrapper ">
  <md-card class="full-width ">
    <div class="table-title">
      Последние юзеры
    </div>
    <table>
      <thead>
        <tr>
          <td></td>
          <td>Логин</td>
          <td>Email</td>
          <td>Телефон</td>
          <td>Оборот</td>
          <td>Дата</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of lastUsers">
          <td>
            <img [src]="user.photo" class="user-icon">
          </td>
          <td>{{user?.login}}</td>
          <td>{{user?.email}}</td>
          <td>{{user?.phone}}</td>
          <td>N/A</td>
          <td>{{user?.date | date: 'dd.MM.yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </md-card>
  <div class="layer"></div>
  <md-card class="full-width">
    <div class="table-title">
      Последние заказы
    </div>
    <table>
      <thead>
        <tr>
          <td></td>
          <td>Логин</td>
          <td>Источник</td>
          <td></td>
          <td>Магазин</td>
          <td>Цель</td>
          <td>Cумма</td>
          <td>Статус</td>
          <td>Дата</td>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor="let order of lastOrders">
          <td>
            <img [src]="order?.userId?.photo?.small?.url" class="user-icon">
          </td>
          <td>{{order?.userId?.login}}</td>
          <td>{{order?.source}}</td>
          <td>
            <img [src]="order?.siteId?.photo?.mini?.url" class="user-icon">
          </td>
          <td>{{order?.siteId?.name}}</td>
          <td>{{order?.target?.name}}</td>
          <td>{{order?.value}}</td>
          <td>{{orderStatuses[order.status]}}</td>
          <td>{{order?.date | date: 'dd.MM.yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>
